---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thank You - The Glob">
	<div class="max-w-[960px] mx-auto py-5 px-5">
		<div class="bg-white rounded-lg p-16 text-center">
			<h1 class="text-[32pt] font-bold text-glob-orange mb-8">Thank You!</h1>
			<p class="text-[1.2rem] text-glob-dark mt-8">Your message has been received. We'll get back to you soon.</p>
			<a href="/" class="inline-block mt-8 px-8 py-4 bg-glob-orange text-white no-underline rounded hover:bg-glob-gold hover:text-glob-dark transition-colors">Return Home</a>
		</div>
	</div>
</Layout>
