---
import Layout from '../layouts/Layout.astro';
---

<Layout title="The Glob">
	<!-- Row 1: 3 Image Gallery -->
	<div id="imPageRow_1" class="imPageRow">
		<div id="imPageRowGraphics_1"></div>
	</div>
	
	<div id="imCell_13">
		<div id="imCellStyleGraphics_13"></div>
		<div id="imCellStyleBorders_13"></div>
		<div id="imObjectImage_13">
			<div id="imObjectImage_13_container">
				<img src="/images/pic5.png" alt="" width="260" height="195" />
			</div>
		</div>
	</div>
	
	<div id="imCell_48">
		<div id="imCellStyleGraphics_48"></div>
		<div id="imCellStyleBorders_48"></div>
		<div id="imObjectImage_48">
			<div id="imObjectImage_48_container">
				<img src="/images/pic4.png" alt="" width="260" height="195" />
			</div>
		</div>
	</div>
	
	<div id="imCell_49">
		<div id="imCellStyleGraphics_49"></div>
		<div id="imCellStyleBorders_49"></div>
		<div id="imObjectImage_49">
			<div id="imObjectImage_49_container">
				<img src="/images/pic8.png" alt="" width="260" height="194" />
			</div>
		</div>
	</div>
	
	<!-- Row 2: Text Content Box -->
	<div id="imPageRow_2" class="imPageRow"></div>
	
	<div id="imCell_35">
		<div id="imCellStyleGraphics_35"></div>
		<div id="imCellStyleBorders_35"></div>
		<div id="imTextObject_35">
			<div class="text-tab-content current-tab">
				<div class="text-inner">
					<div class="imTACenter">
						<div><span class="fs20lh1-5 cf1"><b>RURAL HEALTH CHECKS</b></span></div>
						<div><span class="fs20lh1-5 cf1"><b><br /></b></span></div>
						<div><span class="fs16lh1-5 cf1">Making it happen. Bringing the Glob to our faming communities and their families. Showing them that we really care about their welfare and health. We have the manpower and expertise to this, and we have the drive to make this happen.</span></div>
						<div><span class="imTALeft fs16lh1-5 cf1">Rural health checks will save lives. It will change the attitude of farmers and their families to the importance of self-care. Farmers often know the importance of having their machinery serviced every year. Unfortunately, they do not recognize of including themselves in this check list.</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Row 3: Banner Image -->
	<div id="imPageRow_3" class="imPageRow">
		<div id="imPageRowGraphics_3"></div>
	</div>
	
	<div id="imCell_55">
		<div id="imCellStyleGraphics_55"></div>
		<div id="imCellStyleBorders_55"></div>
		<div id="imObjectImage_55">
			<div id="imObjectImage_55_container">
				<img src="/images/Picture8.png" alt="" width="920" height="362" />
			</div>
		</div>
	</div>
	
	<div id="imCell_57">
		<div id="imCellStyleGraphics_57"></div>
		<div id="imCellStyleBorders_57"></div>
		<div id="pluginAppObj_57">
			<div style="width: 100%; height: 5px"></div>
		</div>
	</div>
	
	<!-- Row 4: 3 Column Layout with Gradient -->
	<div id="imPageRow_4" class="imPageRow">
		<div id="imPageRowGraphics_4"></div>
	</div>
	
	<div id="imCell_63">
		<div id="imCellStyleGraphics_63"></div>
		<div id="imCellStyleBorders_63"></div>
		<div id="imObjectImage_63">
			<div id="imObjectImage_63_container">
				<img src="/images/Dean_lvn3vtne.png" alt="" width="280" height="279" />
			</div>
		</div>
	</div>
	
	<div id="imCell_61">
		<div id="imCellStyleGraphics_61"></div>
		<div id="imCellStyleBorders_61"></div>
		<div id="imTextObject_61">
			<div class="text-tab-content current-tab">
				<div class="text-inner">
					<div class="imTACenter"><span class="fs14lh1-5 cf1"><b>....from Dean Williamson</b></span></div>
					<div><span class="fs14lh1-5 cf1"><b><br /></b></span></div>
					<div class="imTACenter"><span class="fs14lh1-5 cf1"><b>This article was taken from Dean's facebook page. It gives us some insight to where it started and the need for this project.</b></span></div>
					<div class="imTACenter"><span class="fs14lh1-5"><b><br /></b></span></div>
					<div class="imTACenter"><span class="fs14lh1-5 cf1"><a href="/deanwilliamson" class="imCssLink"><b>Click here</b></a></span></div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="imCell_62">
		<div id="imCellStyleGraphics_62"></div>
		<div id="imCellStyleBorders_62"></div>
		<div id="imObjectImage_62">
			<div id="imObjectImage_62_container">
				<img src="/images/HQlogo.png" alt="" width="280" height="87" />
			</div>
		</div>
	</div>
	
	<!-- Row 5: Feedback Text -->
	<div id="imPageRow_5" class="imPageRow"></div>
	
	<div id="imCell_58">
		<div id="imCellStyleGraphics_58"></div>
		<div id="imCellStyleBorders_58"></div>
		<div id="imTextObject_58">
			<div class="text-tab-content current-tab">
				<div class="text-inner">
					<div><span class="fs16lh1-5 cf1">Over the last two years the glob has seen hundreds of working farmers (with their boots on!) The feed back from the participants and their families has been incredibly positive with many messages of thanks coming back to us for what this project has done.</span></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Row 6: Lions Emblem and Agri HQ Text -->
	<div id="imPageRow_6" class="imPageRow"></div>
	
	<div id="imCell_60">
		<div id="imCellStyleGraphics_60"></div>
		<div id="imCellStyleBorders_60"></div>
		<div id="pluginAppObj_60">
			<div style="width: 100%; height: 15px"></div>
		</div>
	</div>
	
	<div id="imCell_29">
		<div id="imCellStyleGraphics_29"></div>
		<div id="imCellStyleBorders_29"></div>
		<div id="imObjectImage_29">
			<div id="imObjectImage_29_container">
				<img src="/images/LCI_emblem_2color_web.png" alt="" width="160" height="160" />
			</div>
		</div>
	</div>
	
	<div id="imCell_59">
		<div id="imCellStyleGraphics_59"></div>
		<div id="imCellStyleBorders_59"></div>
		<div id="imTextObject_59">
			<div class="text-tab-content current-tab">
				<div class="text-inner">
					<div><span class="fs16lh1-5 cf1 ff1"><br /></span></div>
					<span class="fs16lh1-5 cf1 ff1">Agri HQ have 'gifted' Zone One 202D the glob. They recognise that NZ Lions is respected in the community and has a club in every town. Approx. 25% of our members are farmers.</span>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Row 7: Contact Link -->
	<div id="imPageRow_7" class="imPageRow"></div>
	
	<div id="imCell_54">
		<div id="imCellStyleGraphics_54"></div>
		<div id="imCellStyleBorders_54"></div>
		<div id="imTextObject_54">
			<div class="text-tab-content current-tab">
				<div class="text-inner">
					<div class="imHeading4 imTACenter"><a href="/contact" class="imCssLink">Contact Us</a></div>
				</div>
			</div>
		</div>
	</div>
	
	<style>
		/* Content Grid Layout */
		#imContent {
			display: grid;
			grid-template-columns: minmax(0, 1fr) 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px 13.333px minmax(0, 1fr);
			grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
		}
		
		#imGoToCont {
			display: block;
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
		
		/* Row 1 - Gallery */
		#imPageRow_1 {
			display: block;
			grid-column: 2 / 74;
			grid-row: 1 / 2;
		}
		
		#imCell_13 {
			display: grid;
			grid-column: 2 / 26;
			grid-row: 1 / 2;
			padding: 15px;
			position: relative;
		}
		
		#imCell_48 {
			display: grid;
			grid-column: 26 / 50;
			grid-row: 1 / 2;
			padding: 15px;
			position: relative;
		}
		
		#imCell_49 {
			display: grid;
			grid-column: 50 / 74;
			grid-row: 1 / 2;
			padding: 15px;
			position: relative;
		}
		
		#imCellStyleGraphics_13,
		#imCellStyleGraphics_48,
		#imCellStyleGraphics_49 {
			position: absolute;
			top: 15px;
			bottom: 15px;
			left: 15px;
			right: 15px;
			background-color: transparent;
		}
		
		#imObjectImage_13,
		#imObjectImage_48,
		#imObjectImage_49 {
			position: relative;
			padding: 15px;
			z-index: 3;
		}
		
		#imObjectImage_13_container,
		#imObjectImage_48_container,
		#imObjectImage_49_container {
			width: 100%;
			max-width: 260px;
			line-height: 0;
			margin: 0 auto;
		}
		
		#imObjectImage_13_container img,
		#imObjectImage_48_container img,
		#imObjectImage_49_container img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
		
		/* Row 2 - Text Box */
		#imPageRow_2 {
			display: block;
			grid-column: 2 / 74;
			grid-row: 3 / 4;
		}
		
		#imCell_35 {
			display: grid;
			grid-column: 2 / 74;
			grid-row: 3 / 4;
			padding: 15px;
			position: relative;
		}
		
		#imCellStyleGraphics_35 {
			position: absolute;
			top: 15px;
			bottom: 15px;
			left: 15px;
			right: 15px;
			background-color: #4b4e52;
		}
		
		#imTextObject_35 {
			position: relative;
			padding: 30px;
			z-index: 3;
			width: 100%;
			font-style: normal;
			font-weight: normal;
			line-height: 28px;
		}
		
		/* Row 3 - Banner */
		#imPageRow_3 {
			display: block;
			grid-column: 2 / 74;
			grid-row: 4 / 6;
		}
		
		#imPageRowGraphics_3 {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #ea7235;
		}
		
		#imCell_55 {
			display: grid;
			grid-column: 2 / 74;
			grid-row: 4 / 5;
			padding: 10px;
			position: relative;
		}
		
		#imCellStyleGraphics_55 {
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background-color: transparent;
		}
		
		#imObjectImage_55 {
			position: relative;
			padding: 10px;
			z-index: 3;
		}
		
		#imObjectImage_55_container {
			width: 100%;
			max-width: 920px;
			line-height: 0;
			margin: 0 auto;
		}
		
		#imObjectImage_55_container img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
		
		#imCell_57 {
			display: grid;
			grid-column: 2 / 74;
			grid-row: 5 / 6;
			padding: 10px;
			position: relative;
		}
		
		#imCellStyleGraphics_57 {
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background-color: transparent;
		}
		
		#pluginAppObj_57 {
			position: relative;
			padding: 10px;
			z-index: 3;
		}
		
		/* Row 4 - 3 Column Gradient */
		#imPageRow_4 {
			display: block;
			grid-column: 2 / 74;
			grid-row: 6 / 9;
		}
		
		#imPageRowGraphics_4 {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(90deg, #ea7235, #ffffff 70%);
		}
		
		#imCell_61 {
			display: grid;
			grid-column: 26 / 50;
			grid-row: 6 / 9;
			padding: 10px;
			position: relative;
		}
		
		#imCellStyleGraphics_61 {
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background-color: transparent;
		}
		
		#imTextObject_61 {
			position: relative;
			padding: 10px;
			z-index: 3;
			width: 100%;
			font-style: normal;
			font-weight: normal;
			line-height: 28px;
		}
		
		#imCell_62 {
			display: grid;
			grid-column: 50 / 74;
			grid-row: 7 / 8;
			padding: 10px;
			position: relative;
		}
		
		#imCellStyleGraphics_62 {
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background-color: transparent;
		}
		
		#imObjectImage_62 {
			position: relative;
			padding: 10px;
			z-index: 3;
		}
		
		#imObjectImage_62_container {
			width: 100%;
			max-width: 280px;
			line-height: 0;
			margin: 0 auto;
		}
		
		#imObjectImage_62_container img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
		
		#imCell_63 {
			display: grid;
			grid-column: 2 / 26;
			grid-row: 6 / 9;
			padding: 10px;
			position: relative;
		}
		
		#imCellStyleGraphics_63 {
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background-color: transparent;
		}
		
		#imObjectImage_63 {
			position: relative;
			padding: 10px;
			z-index: 3;
		}
		
		#imObjectImage_63_container {
			width: 100%;
			max-width: 280px;
			line-height: 0;
			margin: 0 auto;
		}
		
		#imObjectImage_63_container img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
		
		/* Row 5 - Feedback Text */
		#imPageRow_5 {
			display: block;
			grid-column: 2 / 74;
			grid-row: 9 / 10;
		}
		
		#imCell_58 {
			display: grid;
			grid-column: 2 / 74;
			grid-row: 9 / 10;
			padding: 10px;
			position: relative;
		}
		
		#imCellStyleGraphics_58 {
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background-color: transparent;
		}
		
		#imTextObject_58 {
			position: relative;
			padding: 10px;
			z-index: 3;
			width: 100%;
			font-style: normal;
			font-weight: normal;
			line-height: 28px;
		}
		
		/* Row 6 - Lions and Agri HQ */
		#imPageRow_6 {
			display: block;
			grid-column: 2 / 74;
			grid-row: 10 / 12;
		}
		
		#imCell_60 {
			display: grid;
			grid-column: 2 / 74;
			grid-row: 10 / 11;
			padding: 10px;
			position: relative;
		}
		
		#imCellStyleGraphics_60 {
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background-color: transparent;
		}
		
		#pluginAppObj_60 {
			position: relative;
			padding: 10px;
			z-index: 3;
		}
		
		#imCell_29 {
			display: grid;
			grid-column: 2 / 14;
			grid-row: 11 / 12;
			padding: 0;
			position: relative;
		}
		
		#imCellStyleGraphics_29 {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: transparent;
		}
		
		#imObjectImage_29 {
			position: relative;
			z-index: 3;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		#imObjectImage_29_container {
			width: 100%;
			max-width: 160px;
			line-height: 0;
		}
		
		#imObjectImage_29_container img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
		
		#imCell_59 {
			display: grid;
			grid-column: 14 / 74;
			grid-row: 11 / 12;
			padding: 10px;
			position: relative;
		}
		
		#imCellStyleGraphics_59 {
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background-color: transparent;
		}
		
		#imTextObject_59 {
			position: relative;
			padding: 10px;
			z-index: 3;
			width: 100%;
			font-style: normal;
			font-weight: normal;
			line-height: 28px;
		}
		
		/* Row 7 - Contact */
		#imPageRow_7 {
			display: block;
			grid-column: 2 / 74;
			grid-row: 12 / 13;
		}
		
		#imCell_54 {
			display: grid;
			grid-column: 2 / 74;
			grid-row: 12 / 13;
			padding: 15px;
			position: relative;
		}
		
		#imCellStyleGraphics_54 {
			position: absolute;
			top: 15px;
			bottom: 15px;
			left: 15px;
			right: 15px;
			background-color: transparent;
		}
		
		#imTextObject_54 {
			position: relative;
			padding: 15px;
			z-index: 3;
			width: 100%;
			font-style: normal;
			font-weight: normal;
			line-height: 28px;
		}
		
		/* Responsive */
		@media (max-width: 959.9px) {
			#imContent {
				grid-template-columns: minmax(0, 1fr) 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px minmax(0, 1fr);
			}
		}
		
		@media (max-width: 719.9px) {
			#imContent {
				grid-template-columns: minmax(0, 1fr) 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px 6.667px minmax(0, 1fr);
			}
			
			#imCell_13, #imCell_48, #imCell_49 {
				grid-column: 2 / 74;
			}
			
			#imCell_13 { grid-row: 1 / 2; }
			#imCell_48 { grid-row: 2 / 3; }
			#imCell_49 { grid-row: 3 / 4; }
			
			/* Wider images on mobile */
			#imObjectImage_13_container,
			#imObjectImage_48_container,
			#imObjectImage_49_container {
				max-width: 420px;
			}
			
			#imCell_61, #imCell_62, #imCell_63 {
				grid-column: 2 / 74;
			}
			
			#imCell_29, #imCell_59 {
				grid-column: 2 / 74;
			}
		}
		
		@media (max-width: 479.9px) {
			/* Even wider on small mobile */
			#imObjectImage_13_container,
			#imObjectImage_48_container,
			#imObjectImage_49_container {
				max-width: 300px;
			}
		}
	</style>
</Layout>
