---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SPONSORS - The Glob">
	<div class="max-w-[960px] mx-auto py-5 px-5">
		<!-- Thank You Header - White Background -->
		<div class="bg-white p-8 mb-8">
			<div class="text-center text-black">
				<p class="text-[14pt] leading-[1.5] font-bold mb-2">THANK YOU</p>
				<p class="text-[14pt] leading-[1.5] font-bold">to the following for Donations, (i.e. Financial gifts, Discounts on consumables)</p>
				<p class="text-[14pt] leading-[1.5] font-bold">and</p>
				<p class="text-[14pt] leading-[1.5] font-bold">Volunteers Time Support for establishing and operating this</p>
				<p class="text-[14pt] leading-[1.5] font-bold">Lions MY HEALTH CHECK Project.</p>
			</div>
		</div>
		
		<!-- Sponsor Lists - Two Columns on White Background -->
		<div class="grid grid-cols-2 gap-8 mb-8 max-md:grid-cols-1">
			<!-- Left Column - Lions Clubs -->
			<div class="bg-white p-6">
				<ul class="list-disc list-inside text-black space-y-2">
					<li class="text-[14pt] leading-[1.5]"><b>Ashhurst Pohangina Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Colyton Bunnythorpe Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Feilding Host Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Feilding Kowhai Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Feilding Manchester Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Foxton Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Heartland Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Middle Districts Lions Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Rongotea & District Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>TeAwahou Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Lloyd Morgan Lions Clubs Charitable Trust</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Feilding & Districts Promotions</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Think Hauora Palmerston North</b></li>
				</ul>
			</div>
			
			<!-- Right Column - Businesses -->
			<div class="bg-white p-6">
				<ul class="list-disc list-inside text-black space-y-2">
					<li class="text-[14pt] leading-[1.5]"><b>Agri HQ</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Arran Farms</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Covi Insurance Feilding</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Custom Art</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Darraghs Mitre 10 Feilding</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>EBOS</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Manawatu District Council</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>M. England</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Sparex Feilding</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Smith Biomed (NZ) Ltd</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Feilding Business Initiatives</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>J.A.Davey Ltd</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Fonterra</b></li>
				</ul>
			</div>
		</div>
		
		<!-- Sponsor Logos Table -->
		<div class="bg-white p-8 mb-8">
			<div class="overflow-x-auto">
				<table class="w-full">
					<tbody>
						<tr>
							<td class="text-center p-4 w-[143px]"></td>
							<td class="text-center p-4 w-[143px]">
								<img src="/images/SBM-logo-v2.png" alt="SBM" class="mx-auto h-[110px] w-auto" />
							</td>
							<td class="text-center p-4 w-[143px]">
								<img src="/images/JAD_NZ_logo.jpg" alt="JAD NZ" class="mx-auto h-[90px] w-auto" />
							</td>
							<td class="text-center p-4 w-[143px]">
								<img src="/images/manawatu_logo_blk.png" alt="Manawatu" class="mx-auto h-[49px] w-auto" />
							</td>
							<td class="text-center p-4 w-[143px]">
								<img src="/images/OMRON_Logo_White.png" alt="Omron" class="mx-auto h-[50px] w-auto" />
							</td>
							<td class="text-center p-4 w-[143px]">
								<img src="/images/Doing-Good-Together_Fonterra-Lockup_Logo.jpg" alt="Fonterra" class="mx-auto h-[55px] w-auto" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- Bank Account Info - White Background, Black Text -->
		<div class="bg-white p-8 text-center">
			<div class="text-black">
				<p class="text-[18pt] leading-[1.5] font-bold mb-4">We appreciate your generousity.</p>
				<p class="text-[14pt] leading-[1.5] font-bold mb-4">Should you want to support us, this is our bank account.</p>
				<br />
				<p class="text-[14pt] leading-[1.5] font-bold">My Health Check. No. 03-0791-0232608-008 Westpac banking</p>
			</div>
		</div>
	</div>
</Layout>
