---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SPONSORS - The Glob">
	<div class="max-w-[960px] mx-auto py-5 px-5">
		<!-- Thank You Header - Cleaner formatting -->
		<div class="bg-glob-gray p-8 mb-8 text-center">
			<div class="text-white">
				<h2 class="text-[24pt] font-bold mb-6">THANK YOU</h2>
				<p class="text-[14pt] leading-[1.8]">To the following for Donations (i.e. Financial gifts, Discounts on consumables)</p>
				<p class="text-[14pt] leading-[1.8] font-bold my-2">and</p>
				<p class="text-[14pt] leading-[1.8]">Volunteers Time Support for establishing and operating this</p>
				<p class="text-[16pt] leading-[1.8] font-bold mt-4">Lions MY HEALTH CHECK Project</p>
			</div>
		</div>
		
		<!-- Sponsor Lists - Single column on mobile, two on desktop, no background -->
		<div class="grid grid-cols-2 gap-8 mb-8 max-md:grid-cols-1">
			<!-- Left Column - Lions Clubs -->
			<div>
				<ul class="list-disc list-inside text-white space-y-2 marker:text-black">
					<li class="text-[14pt] leading-[1.5]"><b>Ashhurst Pohangina Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Colyton Bunnythorpe Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Feilding Host Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Feilding Kowhai Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Feilding Manchester Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Foxton Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Heartland Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Middle Districts Lions Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Rongotea & District Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>TeAwahou Lion Club</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Lloyd Morgan Lions Clubs Charitable Trust</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Feilding & Districts Promotions</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Think Hauora Palmerston North</b></li>
				</ul>
			</div>
			
			<!-- Right Column - Businesses -->
			<div>
				<ul class="list-disc list-inside text-white space-y-2 marker:text-black">
					<li class="text-[14pt] leading-[1.5]"><b>Agri HQ</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Arran Farms</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Covi Insurance Feilding</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Custom Art</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Darraghs Mitre 10 Feilding</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>EBOS</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Manawatu District Council</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>M. England</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Sparex Feilding</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Smith Biomed (NZ) Ltd</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Feilding Business Initiatives</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>J.A.Davey Ltd</b></li>
					<li class="text-[14pt] leading-[1.5]"><b>Fonterra</b></li>
				</ul>
			</div>
		</div>
		
		<!-- Sponsor Logos - No background, similar size, responsive -->
		<div class="py-8">
			<div class="flex flex-wrap justify-center items-center gap-8 max-md:flex-col max-md:gap-6">
				<img src="/images/SBM-logo-v2.png" alt="SBM" class="h-[80px] w-auto object-contain max-md:h-[60px]" />
				<img src="/images/JAD_NZ_logo.jpg" alt="JAD NZ" class="h-[80px] w-auto object-contain max-md:h-[60px]" />
				<img src="/images/manawatu_logo_blk.png" alt="Manawatu" class="h-[60px] w-auto object-contain max-md:h-[50px]" />
				<img src="/images/OMRON_Logo_White.png" alt="Omron" class="h-[60px] w-auto object-contain max-md:h-[50px]" />
				<img src="/images/Doing-Good-Together_Fonterra-Lockup_Logo.jpg" alt="Fonterra" class="h-[70px] w-auto object-contain max-md:h-[55px]" />
			</div>
		</div>
		
		<!-- Bank Account Info - Gray Background, White Text -->
		<div class="bg-glob-gray p-8 text-center">
			<div class="text-white">
				<p class="text-[18pt] leading-[1.5] font-bold mb-4">We appreciate your generosity.</p>
				<p class="text-[14pt] leading-[1.5] mb-4">Should you wish to support us, <a href="/contact-us" class="text-glob-gold hover:text-white underline">please contact us</a>.</p>
				<br />
				<p class="text-[14pt] leading-[1.5] font-bold">My Health Check. No. 03-0791-0232608-008 Westpac banking</p>
			</div>
		</div>
	</div>
</Layout>
